# vi: set ft=yaml :

# NOTE: The below 2 variables should not need to be changed if you cloned
#   the dotfiles repo to '~/dotfiles'
#  Local home directory
dotfiles_user_home: "{{ '~' | expanduser }}"
# Where your dotfiles live. Probably don't need to change this.
dotfiles_home: "{{dotfiles_user_home}}/dotfiles"

# Python tasks need the PYENV_ROOT environment variable set with this value
pyenv_root: "{{ dotfiles_user_home }}/.pyenv"

# Root directory for projects
project_root: "{{ dotfiles_user_home }}/Code"

# Name used in commit messages
full_name: Wagner Augusto Andreoli
# Git
# Github username
git_user: andreoliwa
# If you use github, this should be the same as the email
#  used on Github
git_email: andreoliwa@gmail.com

# GPG Key ID used to sign git commits
# See https://github.com/pstadler/keybase-gpg-github setup instructions
git_signing_key: 6F84DBFC

# Vim

# Whether to install plugins automatically. If not, just run
# :PlugInstall while in vim.
vim_install_plugins: no

# Utilities that don't get installed by a role
osx_homebrew_packages:
  - curl
  - wget
  - tree
  - highlight
  - terminal-notifier
  - wifi-password
  - htop-osx
  - httpie
  - diff-so-fancy
  - rename
  - docker-clean
  - gpg
  - ctop
  - fwknop  # for COS vpn
  - heroku/brew/heroku
  - tldr
  - pgbadger

# Mac Apps to be installed with homebrew-cask
osx_cask_packages:
  # Browsers
  - firefoxdeveloperedition
  - google-chrome
  - opera
  - brave
  # Network
  - filezilla
  - ngrok
  - teamviewer
  # Utilities
  - iterm2
  - keepingyouawake  # maintained caffeinate wrapper
  - flux
  - appcleaner
  - raindropio
  - spectacle
  - the-unarchiver
  # E-mail
  - mia-for-gmail
  - gmail-notifier
  # Vagrant/Virtualbox
  - virtualbox
  # Chat
  - slack
  - telegram
  # Backup/storage
  - dropbox
  # Media/Music
  - spotify
  - vlc
  - beardedspice
  - spotifree
  # Images
  - imageoptim  # optimizing images
  - licecap  # capturing gifs
  # Notetaking
  - nvalt
  - atom
  # Fonts
  - font-ubuntu
  - font-cousine
  # Databases
  - datagrip  # RDBMS client
  # Stay focused
  - selfcontrol

# APT packages that don't get installed by a role
apt_packages:
  - curl
  - dos2unix
  - wget
  - gnupg2
  - htop
  - lsof
  - strace
  - gnupg-agent
  - shotwell

# Mac-App-Store-only apps to be installed with mas
# Use App IDs found with `mas search <name>`
osx_mas_packages:
  - 585829637  # Todoist
